@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

body{
    font-family: 'Roboto';
}
::-webkit-scrollbar{
    display: none;
}

.card{
    width: 18rem;
    
}
.card-img-top{
    height: 200px;
    object-fit: cover;
}

